/* Start temp */
.today .temp {
	padding: 20px;
}
.today .temp .icon {
	text-align: right;
}
.today .temp .icon button {
	border: none;
	background-color: inherit;
	text-align: right;
	cursor: pointer;
}
.today .temp .icon button:focus  {
	animation: RotateIcon;
	-webkit-animation: RotateIcon;
}
.today .temp .icon button {
	font-size: 22px;
	color: var(--mainColor);
	transition: 2s;
	-webkit-transition: 2s;
	-moz-transition: 2s;
	-ms-transition: 2s;
	-o-transition: 2s;
}

.today .temp h2 {
	font-size: 36px;
	font-weight: 700;
	margin: 0;
	text-align: center;
	color: var(--mainColor);
}
.today .temp h2:nth-of-type(2) {
	font-size: 90px;
}